.dark-screen {
  background-color: #282c34;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1536px;
  margin: auto;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid;
  border-top: 0px;
  border-bottom: 0px;
  border-color: lightseagreen;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.profile-picture {
  display: flex;
  height: 20vw;
  border: 2px solid;
  justify-content: center;
  align-items: center;
}

.heading-intro {
  border: 2px solid;
  display: block;
}

.heading-name {
  font-size: 5rem;
  line-height: 5rem;
  /* border: 1px solid; */
}

.heading-description {
  font-size: 2rem;
  line-height: 2rem;
  /* border: 1px solid; */
  margin-left: 1rem;
}

.heading-paragraph {
  font-size: 1.25rem;
  margin-left: 1rem;
}
